<!-- Use to change the size of each clickable square -->
<% style = "width: 238px; height: 150px;" %>

<div class="container">
  <div class="col-md-10 col-md-offset-1">

    <div class="row">
      <h1><u><strong>Light it Up</strong></u></h1>
    </div>

    <% if @win == 1 %>
      <div class="row">
        <div class="alert alert-success" role="alert">You win after <%= @moves %> moves! </div>
      </div>
    <% end %>

    <div class="row">
      <% if @win == 1 %>
        <a href="/new_game" class="btn btn-success">New Game</a>
      <% end %>

      <% if @win == 0 %>
        <a href="/save_game/<%= @config %>/<%= @moves %>" class="btn btn-warning">Save Game</a>
      <% end %>

      <a href="/quit_game/<%= @moves %>/<%= @win %>" class="btn btn-danger">Quit Game</a>
    </div>
    <p></p>

    <div class="row">
      <table>
        <tr>
          <td><a style="<%= style %>" href="/<%= @config %>/1/1/<%= @moves %>" class="btn btn-<%= @box_1_1 %> btn-lg btn-block"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/1/2/<%= @moves %>" class="btn btn-<%= @box_1_2 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/1/3/<%= @moves %>" class="btn btn-<%= @box_1_3 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/1/4/<%= @moves %>" class="btn btn-<%= @box_1_4 %> btn-lg"></a></td>
        </tr>
        <tr>
          <td><a style="<%= style %>" href="/<%= @config %>/2/1/<%= @moves %>" class="btn btn-<%= @box_2_1 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/2/2/<%= @moves %>" class="btn btn-<%= @box_2_2 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/2/3/<%= @moves %>" class="btn btn-<%= @box_2_3 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/2/4/<%= @moves %>" class="btn btn-<%= @box_2_4 %> btn-lg"></a></td>
        </tr>
        <tr>
          <td><a style="<%= style %>" href="/<%= @config %>/3/1/<%= @moves %>" class="btn btn-<%= @box_3_1 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/3/2/<%= @moves %>" class="btn btn-<%= @box_3_2 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/3/3/<%= @moves %>" class="btn btn-<%= @box_3_3 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/3/4/<%= @moves %>" class="btn btn-<%= @box_3_4 %> btn-lg"></a></td>
        </tr>
        <tr>
          <td><a style="<%= style %>" href="/<%= @config %>/4/1/<%= @moves %>" class="btn btn-<%= @box_4_1 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/4/2/<%= @moves %>" class="btn btn-<%= @box_4_2 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/4/3/<%= @moves %>" class="btn btn-<%= @box_4_3 %> btn-lg"></a></td>
          <td><a style="<%= style %>" href="/<%= @config %>/4/4/<%= @moves %>" class="btn btn-<%= @box_4_4 %> btn-lg"></a></td>
        </tr>
      </table>
    </div>

    <div class="row">
      <h4>Number of moves: <%= @moves %></h4>
    </div>

  </div>
</div>
