<div class="container-fluid">

    <div class="page-header text-center">
      <h1>Light-it-Up Leaderboard for <%= current_user.username %></h1>
      <a href="/" class="btn btn-success">Back to Home</a>
    </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-striped">
        <caption style="text-align:left"><h4>Overall Summary <small>(<a href="/games/show/<%= current_user.id %>">View Details</a>)</small></h4></caption>
        <thead>
          <th class="text-center">Total Games Played</th>
          <th class="text-center">Total Games Won</th>
          <th class="text-center">Total Games Lost</th>
          <th class="text-center">Win %</th>
        </thead>
        <tr>
          <td class="text-center"><%= @user_games_all.count %></td>
          <td class="text-center"><%= @user_games_all.winning_games.count %></td>
          <td class="text-center"><%= @user_games_all.losing_games.count %></td>
          <td class="text-center"><%= number_to_percentage(100*@user_games_all.winning_games.count.to_f / @user_games_all.count.to_f) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <table class="table table-striped">
        <caption style="text-align:left"><h4>Top 10 Games Won</h4></caption>
        <thead>
          <th style="text-align:center">Game #</th>
          <th style="text-align:center">Date</th>
          <th style="text-align:center">Number of Moves</th>
        </thead>

        <% counter = 0 %>
        <% @user_leaderboard[0..9].each do |game| %>
        <% counter = counter + 1 %>
        <tr>
          <td style="text-align:center"><%= counter %></td>
          <td style="text-align:center"><%= game.created_at.strftime("%B %d, %Y") %></td>
          <td style="text-align:center"><%= game.num_moves %></td>
        </tr>
        <% end %>
      </table>
    </div>




    <div class="col-md-4 col-md-offset-2">
      <table class="table table-striped">
        <caption style="text-align:left"><h4>Recent Games</h4></caption>
        <thead>
          <th style="text-align:center">Game #</th>
          <th style="text-align:center">Date</th>
          <th style="text-align:center">Number of Moves</th>
          <th style="text-align:center">Result</th>
        </thead>

        <% counter = 0 %>
        <% @user_games_all[0..9].each do |game| %>
        <% counter = counter + 1 %>
        <tr>
          <td style="text-align:center"><%= counter %></td>
          <td style="text-align:center"><%= game.created_at.localtime.strftime("%B %d, %Y %I:%M %p") %></td>
          <td style="text-align:center"><%= game.num_moves %></td>
          <td style="text-align:center">
            <% if game.win == 1 %>
            Win
            <% else %>
            Lose
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      <h4>Top 10 All-Time Light-it-Up Games</h4>
      <table class="table table-striped">
        <thead>
          <th style="text-align:center">Game #</th>
          <th style="text-align:center">Player</th>
          <th style="text-align:center">Date</th>
          <th style="text-align:center">Number of Moves</th>
        </thead>

        <% counter = 0 %>
        <% @leaderboard[0..9].each do |game| %>
        <% counter = counter + 1 %>
        <tr>
          <td style="text-align:center"><%= counter %></td>
          <td style="text-align:center"><%= game.user.username %></td>
          <td style="text-align:center"><%= game.created_at.strftime("%B %d, %Y") %></td>
          <td style="text-align:center"><%= game.num_moves %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
